<extends src="src/layouts/main.html">
  <block name="template">
    <div class="min-h-full justify-center px-6 py-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full max-w-7xl">
        <div class="text-center">
          <img class="mx-auto h-32 w-auto" src="cid:logo" alt="Réseaux Révolution">
        </div>
        <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Votre mot de passe a été modifié</h2>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full max-w-7xl text-center">
        <div class="space-y-6">
          <div class="block text-sm font-medium leading-6 text-gray-900">Si vous n'êtes pas à l'origine de la modification, contactez nous.</div>
        </div>
      </div>
    </div>
  </block>
</extends>
