<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-32 w-auto" src="assets/images/logo.svg" alt="{{appName}}">
    <h2 class="mt-8 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Inscription réussi !</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="space-y-6">
      <div class="block text-sm font-medium leading-6 text-gray-900">Vérifiez votre boite mail afin de valider votre compte.</div>
    </div>

    <p class="mt-10 text-center text-sm text-gray-500">
      <a [routerLink]="['/user/login']" class="font-semibold leading-6 text-black-600 hover:text-black-500">Accédez à la page de connexion</a>
    </p>
  </div>
</div>
