{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full max-w-7xl">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">L'ajout de vos coordonnées de paiement a été fait avec succès</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full max-w-7xl text-center">
            <p class="mt-10 text-center text-sm text-gray-500">
                <a href="{{ frontUrl }}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Créer une publication</a>
            </p>
        </div>
    </div>
{#    <form action="{{ path('create_customer_portal_session') }}" method="post">#}
{#        <button type="submit">Manage Subscription</button>#}
{#    </form>#}
{% endblock %}